<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar(currentPage)" class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0 10px;">
    <a class="navbar-brand fw-bold ms-3" href="/" style="color: #71825E; margin-left: 10px; margin-right: 20px;">SILOGISTIK</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div style="width: 1px; height: 30px; background: #71825E;"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin: 10px 10px;">
            <li th:class="${currentPage == 'gudang' ? 'dropdown active fw-bold' : 'nav-item dropdown'}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gudang
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/gudang}">Daftar Gudang</a></li>
                    <li><a class="dropdown-item" th:href="@{/gudang/cari-barang}">Cari Barang</a></li>
                </ul>
            </li>
            <li class="nav-item" th:class="${currentPage == 'barang' ? 'active fw-bold' : 'nav-item'}">
                <a class="nav-link" th:href="@{/barang}">Barang</a>
            </li>
            <li class="nav-item" th:class="${currentPage == 'permintaan-pengiriman' ? 'active fw-bold' : 'nav-item'}">
                <a class="nav-link" th:href="@{/permintaan-pengiriman}">Permintaan Pengiriman</a>
            </li>
            <li class="nav-item" th:class="${currentPage == 'bonus' ? 'active fw-bold' : 'nav-item'}">
                <a class="nav-link" th:href="@{/bonus}">Bonus</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
